.footer {
  color: #fff;
  justify-content: space-between;
  margin-top: 12rem;
  margin-bottom: 2rem;
  .logo-img {
    width: 290px;
    height: 80px;
  }

  .social-medias {
    flex-direction: column;
    .social-media {
      margin: 16px 0;
    }
  }

  .footer-navbar {
    .footer-nav {
      font-weight: 600;
      margin: 20px 0;
      transition: color 0.2s ease-in-out;

      // &:hover {
      //   color: #2037e8;
      // }
    }
  }

  .contacts {
    h1 {
      font-size: 40px;
      margin: 8px 0;
    }

    span {
      font-size: 16px;
      opacity: 0.7;
    }

    p {
      font-size: 18px;
      font-weight: 700;
      margin-top: 5px;
    }
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;

    .footer-navbar {
      display: flex;
      // justify-content: space-between;
      flex-direction: column;
      margin: 1rem 0;
      .footer-nav {
        margin-right: 10px;
      }
    }

    .social-medias {
      flex-direction: row;

      .social-media {
        margin-right: 8px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 992px) {
  .footer {
    .logo-img {
      width: 135px;
      height: 40px;
    }

    .contacts {
      h1 {
        font-size: 20px !important;
      }

      span {
        font-size: 12px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
}
