@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Gujarati:wght@400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Sans Gujarati, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, blue);
  border-radius: 6px;
}

*:focus {
  outline: 0;
  outline: none;
}

.hidden {
  overflow: hidden;
}

body {
  background: #151517;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
p {
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 7rem;
}

.flex {
  display: flex;
}

.flex-end {
  display: flex;
  justify-content: flex-end !important;
}

.grid {
  display: grid;
}

.mb-15 {
  margin-bottom: 15px;
}

.relative {
  position: relative;
}

.width {
  width: 100%;
}

.m-tb-2 {
  margin: 2rem 0;
}

.title {
  position: relative;
  text-align: center;
  margin-top: 142px;
  margin-bottom: 80px;

  h1 {
    font-size: 43px;
  }
  img {
    position: absolute;
    top: 25%;
    right: 30%;
  }
}

.flex-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.loading-page {
  display: flex;
  .nav-item {
    position: relative;
    font-weight: 600;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -1px;
      background: var(--beige-color);
      transform: scale(0, 1);
      transition: all 0.3s ease-in-out;
    }

    &:hover::after {
      transform: scale(1, 1);
    }
  }
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.lazy-img {
  filter: blur(5px);
  background: rgba(0, 0, 255, 0.178);
}

.btn {
  margin-top: 15px;
  background: #2037e8;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 56px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  border: 2px solid #2037e8;

  &:hover {
    background: transparent;
  }
}

.not-found-page + footer {
  display: none;
}

.not-found-page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999999999999;
  background: #151517;

  .container {
    padding-top: 10px;
    background: #151517;
  }
  .not-found-robot {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    margin-top: 2rem;
  }

  .not-found-text {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    h2 {
      font-weight: 400;
    }

    .flex {
      align-items: center;
    }
    img {
      margin-left: 0.5rem;
      width: 30px;
      height: 20px;
      transition: all 0.3s ease;
    }

    &:hover img {
      transform: translateX(5px);
    }
  }
}

@media screen and (max-width: 600px) {
  .not-found-page {
    .content {
      margin-top: 4rem;
    }
    .logo {
      width: 98px;
      height: 31px;
      margin-top: 10px;
    }
    .robot-img {
      width: 100%;
    }

    .not-found-text {
      margin-top: 10px;
      h2 {
        font-size: 14px;
      }
      img {
        width: 20px;
        height: 14px;
      }
    }
  }

  .container {
    padding: 0 1rem !important;
  }

  .title {
    h1 {
      font-size: 26px !important;
    }

    img {
      right: 0;
      top: 30%;
      width: 120px !important;
      height: 30px !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .title {
    h1 {
      font-size: 33px;
    }
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 3rem;
  }
}
